#presentation {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: #f0f0f0;
  padding-bottom: 30px;
}

.home_container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.home_container h2 {
  font-size: 42px;
  font-weight: 700;
  margin-left: 40px;
  padding-top: 20px;
}

.home_container h3 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
  opacity: 0.8;
  color: var(--fire-green2);
  margin-left: 40px;
}

.home_container p {
  margin: 0 40px 0 40px;
  color: black;
  font-size: 16px;
}

.presentation_img {
  width: 30%;
  height: 100%;
  text-align: center;
}

.img_presentation {
  border-radius: 70%;
  width: 100%;
}

@media (max-width: 880px) {
  .home_container {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .presentation_img {
    display: none;
  }
  .home_container {
    width: 100%;
  }
}
