.btn{
    background-color: #1DB954;
    border: 2px solid aliceblue;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{
    color:aliceblue;
    background-color: #010b20;
    transform: translateY(-7px);

}