.about {
  background: var(--about-background);
  min-height: 80vh;
}

.container_title {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.title {
  display: block;
  width: 100%;
  text-align: center;
  color: #f0f0f0;
  padding-top: 15px;
  font-size: 40px;
  font-weight: 500;
  border-bottom: 1px solid #f0f0f0;
}

.container_about {
  padding: 8% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container_img_about {
  text-align: center;
  width: 50%;
}

.img_about {
  width: 80%;
}

.description {
  width: 50%;
}

.description p {
  margin: 0 30px;
  color: #f0f0f0;
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 800px) {
  .container_about {
    flex-direction: column;
  }
  .container_img_about,
  .description {
    width: 100%;
  }
}
