.about {
  background: var(--about-background);
  height: 90vh;
}

.container_title {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  border-bottom: 1px solid #fff;
}

.title {
  text-align: center;
  color: #fff;
  padding-top: 50px;
  font-size: 40px;
  font-weight: 500;
}

.container_about {
  display: flex;
  justify-content: space-around;
}

.img_about {
  width: 450px;
}

.description {
  margin-top: 70px;
  width: 50%;
}

p {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
