.container_img {
  height: 280px;
  width: 480px;
  box-shadow: 4px 4px 10px 4px #0a0a0a;
}

.img_card {
  height: 100%;
  width: 100%;
}

.project_title {
  background-color: transparent;
  color: #0a0a0a;
  font-size: 24px;
  text-align: center;
}

.container_info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #f0f0f0;
  color: #0a0a0a;
  opacity: 0;
  width: 100%;
  height: 290px;
  z-index: 99;
  transform: translateY(-100%);
}
.container_info:hover {
  opacity: 0.95;
  transition: ease 0.4s;
}

.card_icon {
  width: 35px;
  height: 35px;
}

.project_title_info {
  font-size: 24px;
  text-align: center;
  padding-top: 10px;
  color: #0a0a0a;
}

.project_description {
  font-size: 18px;
  margin-left: 0;
  color: #0a0a0a;
}

.project_techs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  color: #0a0a0a;
}

.title_techs {
  font-size: 22px;
  color: #0a0a0a;
}

.techs {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  color: #0a0a0a;
}

.project_links {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 800px) {
  .container_img {
    width: 280px;
    height: 150px;
  }

  .container_info {
    height: 200px;
    width: 280px;
    transform: translateY(-120%);
  }

  .project_title_info,
  .title_techs {
    font-size: 12px;
  }

  .project_description,
  .techs {
    font-size: 10px;
  }
}
