.footer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer ul{
    display: flex;
    justify-content: center;
    margin: 25px;
    list-style: none;
}

.footer a{
    color: #0a0a0a !important;
    text-decoration: none;
}

.footer li{
    margin-left: 15px;
}

.footer p{
    color: #0a0a0a !important;
    margin: 25px;
}