.skill{
    background: rgb(10, 10, 10, 0.2);
    border-radius: 10px;
    margin: 70px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25, 0.25));
    box-shadow:0px 0px 10px #c1c1c1;
}

.skill img{
    height: 90px;
    margin: 25px;
    filter: drop-shadow(0px 4px 4px rgba(197, 196, 196, 0.25));
    transition: 0.3s ease-out;
}

.skill img:hover{
    transform: translateY(-10px);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    height: 180px;
}

.skill h1{
    font-size: 45px;
}

.skill p{
    font-size: 20px;
}