.container_carousel {
  position: relative;
}

.container_card {
  display: flex;
  gap: 3%;
  flex-wrap: nowrap;
  overflow: auto;
  padding-top: 50px;
}

.btns {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px;
  width: 75px;
  height: 75px;
  position: absolute;
  top: 75%;
}

#left_btn {
  left: 0;
}

#right_btn {
  right: 0;
}

.left_arrow {
  transform: rotate(180deg);
}
.right_arrow {
  left: 100px;
}
