#contact {
  background: var(--fire-ngreen);
}

.title-contact {
  padding-bottom: 20px;
}

.container-icon {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.icon {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 7px 25px 1px rgba(255, 255, 255, 0.5);
  margin-left: 50px;
  padding-top: 10px;
  transition: 0.5s;
}

.icon:first-child {
  margin-left: 0;
}

.icon:hover {
  transform: scale3d(1.1, 1.1, 2);
}

.contact-link {
  text-decoration: none;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.devicon-github-original {
  font-size: 50px;
  color: white;
}

.subtitle-contact {
  color: white;
  text-align: center;
  font-weight: 400;
  line-height: 20px;
  margin: 15px 0;
}

.text-contact {
  color: white;
  width: 300px;
  text-align: center;
  font-weight: 200;
}

.img-logo {
  height: 30px;
}
