.techs_section {
  background-color: #f0f0f0;
  max-width: 100%;
  padding: 50px 0;
}

.title_section_techs {
  border-bottom: 1px solid #c1c1c1;
  color: var(--fire-green2);
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

.container_techs {
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.logo_tech {
  width: 80px;
  height: 80px;
  transition: linear 0.5s;
  border-radius: 10%;
}

.logo_tech:hover {
  width: 100px;
  height: 100px;
}

@media (max-width: 800px) {
  .logo_tech {
    width: 30px;
    height: 30px;
  }

  .logo_tech:hover {
    width: 40px;
    height: 40px;
  }
}
