:root {
  --fire-gray: #3c3c3b;
  --fire-green: rgb(24, 166, 56);
  --fire-ngreen: #96c98c;

  --header-background: linear-gradient(
    90deg,
    rgb(24, 166, 56) 30%,
    rgb(11, 113, 35) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

li {
  list-style-type: none;
  color: #fff;
}

a {
  text-decoration: none;
}
